body{
    padding: 0;
    margin: 0;
}


.navbar-custom{padding-top: var(--bs-navbar-brand-padding-y);
    /* padding-bottom: var(--bs-navbar-brand-padding-y); */
    margin-right: var(--bs-navbar-brand-margin-end);
    font-size: var(--bs-navbar-brand-font-size);
    color: var(--bs-navbar-brand-color);
    text-decoration: none;
    white-space: nowrap;} 

.castom-cen{
    justify-content: center;
    margin-bottom: 120px;
   
}
.height-mp{
   height: 250px;
   width: 600px;
   padding-top: 80px;
   padding-bottom: 60px;
  
}
  
.heading-{
    justify-content: center;
}
.custom{   justify-content: space-around}
.modanbtn{
   
   padding-top: 30px;
    width: 170px;
    height: 60px;
    margin-top: 80px;
    
}
.td-none{
    text-decoration: none;
}
.faq-hm{
    margin-top: 130px;
}